{# Thumbnail image to show when homepage is shared on social media. It also
serves as the default image for posts whose featured_image is not set. #}
{% if not FEATURED_IMAGE %}
{% set FEATURED_IMAGE = '' %}
{% else %}
{% set FEATURED_IMAGE = FEATURED_IMAGE %}
{% endif %}

{% if not TAGS_URL %}
{% set TAGS_URL = 'tags.html' %}
{% else %}
{% set TAGS_URL = TAGS_URL %}
{% endif %}

{% if not ARCHIVES_URL %}
{% set ARCHIVES_URL = 'archives.html' %}
{% else %}
{% set ARCHIVES_URL = ARCHIVES_URL %}
{% endif %}

{% if not SEARCH_URL %}
{% set SEARCH_URL = 'search.html' %}
{% else %}
{% set SEARCH_URL = SEARCH_URL %}
{% endif %}

{% if not APPLAUSE_BUTTON %}
{% set APPLAUSE_BUTTON = False %}
{% else %}
{% set APPLAUSE_BUTTON = APPLAUSE_BUTTON %}
{% endif %}
