{% extends "base.html" %}

{% block meta %}
    <meta name="author" content="{{ article.author.name }}"/>
    <meta name="description" content="{{ article.summary|striptags|escape }}"/>
    <meta name="keywords" content="{{ article.tags|join(', ')|escape }}">

    {% if article.translations -%}
        <link rel="alternate" href="{{ SITEURL }}/{{ article.url }}" hreflang="{{ article.lang }}"/>
        {% for a in article.translations %}
            <link rel="alternate" href="{{ SITEURL }}/{{ a.url }}" hreflang="{{ a.lang }}"/>
        {% endfor %}
    {% endif %}

    {% include "partial/og_article.html" %}
    {% include "partial/twitter_article.html" %}
    {% include "partial/jsonld_article.html" %}
{% endblock %}



{% block title %}
    {{ article.title|striptags|escape }}
{% endblock %}

{% block content %}
    <article class="single">
        <header>
            {% if not ARTICLE_HIDE_TRANSLATION %}
                {% import 'partial/translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
            {% endif %}
            <p>
                <!-- Posted on: -->
                {{ _('%(when)s ', when=article.locale_date) }}

                {% if PLUGINS and 'post_stats' in PLUGINS %}
                    &nbsp;&#8226;&nbsp;&nbsp; {{ _('%(minutes)s min read', minutes=article.stats['read_mins']) }}
                {% endif %}

                {% if article.share_post and article.status != 'draft' %}
                    <span class="share-icons">
                        <a href="{{ article.share_post['twitter'] }}" target="_blank" title="Share on Twitter" class="share-icon"><i class="fab fa-twitter"></i></a>
                        <a href="{{ article.share_post['facebook'] }}" target="_blank" title="Share on Facebook" class="share-icon"><i class="fab fa-facebook"></i></a>
                        <a href="{{ article.share_post['hacker-news'] }}" target="_blank" title="Share on Hacker News" class="share-icon"><i class="fab fa-hacker-news"></i></a>
                        <a href="{{ article.share_post['reddit'] }}" target="_blank" title="Share on Reddit" class="share-icon"><i class="fab fa-reddit"></i></a>
                    </span>
                {% endif %}
                <br/>
                {% if SHOW_DATE_MODIFIED and article.modified %}
                    Updated: {{ article.modified.strftime('%Y-%m-%d') }}
                {% endif %}
            </p>
            <h1 id="{{ article.slug }}">{{ article.title }}</h1>
            <div class="header-underline"></div>
            {# display summary if summary is not empty and article category is not note #}
            {% if article.summary and article.category != 'note' %}
                <p class="summary">{{ article.summary }}</p>
            {% endif %}

            {% if article.featured_image and article.category != 'note'%}
                <div style="width: 100%; padding-bottom: 30px; position: relative;">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <img style="width: 100%; "
                             src="{{ article.featured_image }}" alt="{{ article.featured_image_alt }}">
                    </a>
                </div>
            {% endif %}


        </header>

        {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle ads-responsive"
                 data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
                 data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top }}"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        {% endif %}

        {% include "partial/series_nav.html" %}

        <div>
            {{ article.content }}
        </div>

        {% if USE_APPLAUSE %}
            <div id="applause-container">
                <applause-button color="#d9411e" style="width: 58px; height: 58px;"/>
            </div>
        {% endif %}

{#        if ADD_BIBTEX_NOTE and article category is not note#}
        {% if ADD_BIBTEX_NOTE and article.category != 'note' %}
            {% set author_initials = "Saf" %}
            {% set title_words = article.title.split() %}
            {# take first word of title or empty string if title is empty#}
            {% set title_initials = title_words[0] if title_words else "" %}

            {% set bibtex = "@article{"+ author_initials + article.date.strftime('%Y') + title_initials +",\n" %}
            {% set bibtex = bibtex + "    author  = {Krystian Safjan},\n" %}
            {% set bibtex = bibtex + "    title   = {"+ article.title +"},\n" %}
            {% set bibtex = bibtex + "    journal = {"+ BIBTEX_JOURNAL +"},\n" %}
            {% set bibtex = bibtex + "    year    = {"+ article.date.strftime('%Y') +"},\n" %}
            {% set bibtex = bibtex + "}" %}

            <div class="bibtex-note">
                <p><b>To cite this article:</b></p>
                <pre>{{ bibtex }}</pre>
            </div>
        {% endif %}
        {% if article.tags %}
        <div class="article-tags">
            <span class="tags-label">Tags:</span>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}" class="article-tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}

        {% include "partial/newsletter.html" %}

        {% if ADD_THIS_ID %}
            <div class="center social-share">
                <p>{{ _('Like this article? Share it with your friends!') }}</p>
                <div class="addthis_native_toolbox"></div>
                <div class="addthis_sharing_toolbox"></div>
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        {% endif %}



        {% if article.related_posts %}
            <div class="related-posts">
                <h4 class="related-posts-title">{{ _('You might also like') }}</h4>
                <div class="related-posts-grid">
                    {% for related_post in article.related_posts[:4] %}
                        <a href="{{ SITEURL }}/{{ related_post.url }}" class="related-post-card">
                            <span class="related-post-title">{{ related_post.title }}</span>
                            <span class="related-post-date">{{ related_post.date.strftime('%b %d, %Y') }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% elif ADD_THIS_ID %}
            <div class="addthis_relatedposts_inline"></div>
        {% endif %}

        {% include "partial/neighbors.html" %}

        {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle ads-responsive"
                 data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
                 data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom }}"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        {% endif %}

        {% include "partial/giscus.html" %}

    </article>
{% endblock %}
