{% if not PLUGINS or 'seo' not in PLUGINS %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ SITEURL }}/{{ article.url }}"
  },
  "headline": "{{ article.title|striptags|truncate(110) }}",
  "datePublished": "{{ article.date.isoformat() }}",
  "dateModified": "{{ article.modified.isoformat() if article.modified else article.date.isoformat() }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author.name }}",
    "url": "{{ SITEURL }}/{{ article.author.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ SITENAME }}"{% if SITELOGO %},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ SITELOGO }}"
    }{% endif %}
  },
  {% if 'image' in article.metadata %}"image": "{{ SITEURL }}/{{ article.metadata['image'] }}",{% elif SITELOGO %}"image": "{{ SITELOGO }}",{% endif %}
  "url": "{{ SITEURL }}/{{ article.url }}",
  "description": "{{ article.summary|striptags|truncate(160) }}"
}
</script>
{% endif %}
