<style>
    .button {
        background-color: yellow;
        color: black;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
    }

    .center {
        text-align: center;
    }

    .container {
        display: flex;
    }

    .left-col {
        flex: 1;
    }

    .right-col {
        flex: 1;
    }


    @media (max-width: 600px) {
        .container {
            flex-wrap: wrap;
        }

        .left-col {
            order: 2;
        }

        .right-col {
            order: 1;
        }
    }

</style>
<div class="container">
    <div class="left-col">
        <a href="https://gumroad.com/">
            <img src="/images/mlop_interview_book_cover_3D_300px.jpg" style="border-radius: 0; width: 100%;">
        </a>

        <div class="center">
            <a href="https://gumroad.com/">
                <button class="button">Get for $0.99</button>
            </a>
        </div>
    </div>
    <div class="right-col">
        <div>
            <ul style="padding-top:0;padding-bottom: 0;text-align:left;box-sizing: border-box;display: block;list-style-type: none;list-style-image: url(/images/shortcode-tick.webp);margin-block-start: 1em;margin-block-end: 1em;margin-inline-start:0;margin-inline-end:0;padding-inline-start:40px;">
                <li><strong>PDF, ePUB format EBook, no DRM</strong></li>
                <li><strong>50 questions and answers</strong></li>
                <li><strong>Stories from real projects</strong></li>
                <li><strong>100 multiple choice quizz questions</strong></li>
                <li><strong>178 pages</strong></li>
            </ul>
        </div>
    </div>
</div>
