{% if not PLUGINS or 'seo' not in PLUGINS %}
    {% set default_locale = OG_LOCALE if OG_LOCALE else 'en_US' %}

    <meta name="twitter:card" content="summary"/>

    {% if 'image' in article.metadata %}
    <meta property="twitter:image" content="{{ SITEURL }}/{{ article.metadata['image'] }}">
    {% else %}
    <meta property="twitter:image" content="{{ SITELOGO }}">
    {% endif %}

    {% if article.stats and article.stats.readtime %}
    <meta name="twitter:label1" content="Est. reading time"/>
    <meta name="twitter:data1" content="{{ article.stats.readtime }} min."/>
    {% endif %}

    <meta name="twitter:site" content="@{% if TWITTER_USERNAME %}{{ TWITTER_USERNAME }}{% else %}izikeros{% endif %}"/>
    {% if TWITTER_CREATOR %}
    <meta name="twitter:creator" content="@{{ TWITTER_CREATOR }}"/>
    {% endif %}
    <meta name="twitter:description" content="{{ article.summary|striptags|truncate(196) }}"/>
    <meta name="twitter:title" content="{{ article.title }}"/>
{% endif %}
