{% if not PLUGINS or 'seo' not in PLUGINS %}
    {% if 'image' in article.metadata %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ SITEURL }}/{{ article.metadata['image'] }}"/>
    <meta name="twitter:image:alt" content="{{ article.title|striptags }}"/>
    {% elif SITELOGO %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="{{ SITELOGO }}"/>
    <meta name="twitter:image:alt" content="{{ SITENAME }}"/>
    {% else %}
    <meta name="twitter:card" content="summary"/>
    {% endif %}

    {% if article.stats and article.stats.readtime %}
    <meta name="twitter:label1" content="Est. reading time"/>
    <meta name="twitter:data1" content="{{ article.stats.readtime }} min."/>
    {% endif %}

    {% if TWITTER_USERNAME %}
    <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}"/>
    {% endif %}
    {% if TWITTER_CREATOR %}
    <meta name="twitter:creator" content="@{{ TWITTER_CREATOR }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ article.title|striptags }}"/>
    <meta name="twitter:description" content="{{ article.summary|striptags|truncate(196) }}"/>
{% endif %}
